@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-100;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  @apply mob:w-[min(55rem,_100%)] tablet:w-[min(62rem,_100%)] pc:w-[min(78rem,_100%)] mx-auto px-6;
}

.input {
  @apply flex items-center gap-3 h-12 py-4 px-3 rounded bg-gray-800 w-full focus-within:ring-2 ring-cyan-300;
}

.button {
  @apply py-3 px-4 bg-cyan-500 rounded font-semibold text-black text-sm w-full transition-colors hover:bg-cyan-300 focus:ring-2 ring-white;
}

.itemMenu {
  @apply font-bold text-gray-100 hover:text-cyan-300;
}

.avatarCircular {
  @apply w-12 h-12 rounded-full;
}

.avatarSquare {
  @apply w-12 h-12 rounded;
}

.circularOnTop {
  @apply top-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white rounded-full
}

.circularOffTop {
  @apply top-0 left-7 absolute  w-3.5 h-3.5 bg-red-400 border-2 border-white rounded-full
}

.squareOnTop {
  @apply absolute top-0 left-8 transform -translate-y-1/2 w-3.5 h-3.5 bg-green-400 border-2 border-white rounded-full
}

.squareOffTop {
  @apply absolute top-0 left-8 transform -translate-y-1/2 w-3.5 h-3.5 bg-red-400 border-2 border-white rounded-full
}

.circularOnDown {
  @apply bottom-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white rounded-full
}

.circularOffDown {
  @apply bottom-0 left-7 absolute  w-3.5 h-3.5 bg-red-400 border-2 border-white rounded-full
}

.squareOnDown {
  @apply absolute bottom-0 left-8 transform translate-y-1/4 w-3.5 h-3.5 bg-green-400 border-2 border-white rounded-full
}

.squareOfDown {
  @apply absolute bottom-0 left-8 transform translate-y-1/4 w-3.5 h-3.5 bg-red-400 border-2 border-white rounded-full
}

.swiper {
  @apply w-full h-full;
}

.swiper-slide img {
  @apply block w-full h-full object-cover;
}

div.swiper-pagination {
  --swiper-theme-color: #81d8f7;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #81d8f7;
}
